* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: "Oswald", sans-serif;
  color: white;
}

/* HEADER */

header {
  background-color: transparent;
  padding: 26px 0;
  width: 100%;
  z-index: 10;
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo_name {
  font-size: 2rem;
  font-weight: 700;
}

.header__container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__container ul {
  display: flex;
  list-style: none;
}

.header__container li {
  /* default block */
  display: inline;
  padding: 0 26px;
}

.header__container a {
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
  color: white;
}

.header__container a:hover {
  color: #e62b4a;
}

.active {
  color: #e62b4a;
}

/* CAROUSEL */

.carousel {
  background-image: url(./image-video/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__container {
  text-align: center;
  color: white;
}

.carousel__container p {
  font-size: 25px;
}

.carousel__container h1 {
  font-size: 75px;
  line-height: 90px;
}

.carousel__container button {
  font-size: 16px;
  margin-top: 20px;
  padding: 15px 25px;
  background: #e62b4a;
  border: 1px solid #e62b4a;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.carousel__scroll i {
  margin-top: 50px;
  font-size: 30px;

  animation: arrowDown 1s linear 0s infinite;
}

/* SERVICE */
.title {
  text-align: center;
}

.title p:first-of-type {
  font-size: 14px;
  color: #e62b4a;
  font-weight: 300;
}

.title h2 {
  font-size: 50px;
  font-weight: 400;
}

.title p:last-of-type {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
}

.service {
  text-align: center;
  padding: 90px 0;
  background: black;
}

.service__container {
  width: 75%;
  margin: 0 auto;
  letter-spacing: 1px;
}

/* SERVICE SLIDER */

.service__slider {
  margin-top: 20px;
  width: 100%;
}

.service__slider .slider__item {
  height: 230px;
  width: 214px;
  padding: 0 10px;
}

.item__wrapper {
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item__wrapper::after {
  content: "";
  height: 0px;
  display: block;
  width: 5px;
  position: absolute;
  top: 50%;
  right: 0;
  background: red;
  transform: translateY(-50%);
  transition: 0.3s;
}

.item__wrapper:hover::after {
  height: 100%;
}

.slider__item i {
  font-size: 50px;
  color: #888888;
}

.slider__item p {
  font-size: 14px;
  color: #888888;
}

.slick-dots li button:before {
  color: #fff;
  font-size: 14px;
}

.slick-dots li.slick-active button:before {
  color: #e62b4a;
}

.slick-dots {
  bottom: -35px;
}

/* BLOG */

.blog {
  padding: 100px 0;
}

.blog__content {
  width: 75%;
  margin: 50px auto 0;
}

.blog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.blog__item {
  position: relative;
}

.blog__item img {
  width: 100%;
  height: 100%;
  display: block;
  filter: grayscale(50%) contrast(50%);
  object-fit: cover;
}

.blog__item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.blog__item-10 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.item__overlay {
  background: rgba(230, 43, 74, 0.6);
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8s;
  padding: 25px;
}

.item__overlay:hover {
  opacity: 1;
}

.search {
  position: absolute;
  top: 45px;
  right: 25px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: black;
  font-size: 14px;
  transition: 0.8s;
  background: #fff;
}

.overlay__title {
  position: absolute;
  bottom: 10px;
  left: 30px;
  transition: 0.8s;
}

.blog__item:hover .search {
  top: 25px;
}

.blog__item:hover .overlay__title {
  bottom: 30px;
}

/* NUMBER */

.number {
  background: black;
  padding: 100px 0;
}

.number .container {
  margin: 0 auto;
  width: 75%;
}

.number__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.number__list .number__item span {
  font-size: 6rem;
  font-weight: 300;
}

.number__item p {
  text-transform: uppercase;
  font-size: 20px;
  color: #888888;
  display: block;
}
/* EXPERIENCE */
.experience {
  background-image: url(./image-video/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.experience__content {
  width: 75%;
  margin: 30px auto 0;
}

.experience__content video {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* CONTACT */
.contact {
  padding: 100px 0;
}

.contact__content {
  display: flex;
  width: 70%;
  margin: 30px auto 0;
}

.map {
  width: 60%;
}

.map iframe {
  width: 100%;
  height: 450px;
}

.input__content {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: 40%;
}

input {
  padding: 1em;
  font-size: 1.5rem;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #888888;
}

textarea {
  padding: 1em;
  margin-bottom: 30px;
  border-radius: 2px;
  font-size: 15px;
  border: 1px solid #888888;
}

.input__content button {
  padding: 20px 30px;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.5s;
}

.input__content button:hover {
  border-color: #e62b4a;
  background: #e62b4a;
}

/* FOOTER */
footer {
  background: black;
}

.footer__content {
  width: 75%;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  align-items: center;
}

.footer__content p {
  font-size: 14px;
}

.links {
  display: flex;
}

.links i {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.links a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  margin-left: 10px;
  background: #333333;
  transition: 0.5s;
}

.links a:hover {
  background: #e62b4a;
  cursor: pointer;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}

/* ANIMATION */

@keyframes arrowDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

/* HELPERS */
.title-black {
  color: black;
}
